.footer{
    height: 25px;
   /*  margin-bottom: 0px; */

    background-color: rgb(107, 209, 179);
    color: #fff;
    font-size: 18px;
    text-align: center;
    /* margin-top: 300px; */
    margin-bottom: 0px;
    /* max-height: 100px; */
    position: relative;
    /* position: absolute; */
    /* width: 100%; */
    /* position: fixed; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    /* z-index: 0; */

}

